{{page-title "Confirmation"}}
 <main>
      <h1>Here's your cake!</h1>
      <p>What a beauty. Bet you eat it all in one go.</p>
      <p>Let's just remind you of the choices you made. Don't worry if you've made a mistake, just hit the reconfigure button to adjust.</p>

      <h2>Cake summary</h2>
      <dl>
        <div>
          <dt>Shape</dt>
          <dd>{{this.model.cake.shape}}</dd>
        </div>
        <div>
          <dt>Tiers</dt>
          <dd>{{this.model.cake.tier}}</dd>
        </div>
        <div>
          <dt>Icing</dt>
          <dd>{{this.model.cake.colour}}</dd>
        </div>
        <div>
          <dt>Occasion</dt>
          <dd>{{this.model.cake.occasion}}</dd>
        </div>
        <div>
          <dt>Decoration</dt>
          <dd>Candles</dd>
          <dd>Writing</dd>
        </div>
        <div>
          <dt>Writing</dt>
          <dd>Happy Birthday Frank!</dd>
        </div>
      </dl>

      <p>Price: <span>&pound;82.99</span></p>

      <LinkTo @route="order.configurator"><muon-cta icon="arrow-left">Reconfigure</muon-cta></LinkTo>

      <LinkTo @route="order.confirmation"><muon-cta>Confirm</muon-cta></LinkTo>
    </main>