{{page-title "Pick your cake colour"}}

  <muon-inputter heading="What colour icing?" validation="[&quot;isRequired&quot;]" oninput={{action "updateColour"}}>
    {{#each this.model.colours as |colour index|}}
      {{#if (eq this.model.cake.colour colour)}}
        <input type="radio" name="icing" value={{colour}} id={{(concat "icing-" index)}} checked>
      {{else}}
        <input type="radio" name="icing" value={{colour}} id={{(concat "icing-" index)}}>
      {{/if}}
      <label for={{(concat "icing-" index)}}>{{colour}}</label>
    {{/each}}
  </muon-inputter>
  <LinkTo @route="order.configurator.pick-sponge"><muon-cta icon="arrow-left">Previous</muon-cta></LinkTo>
  <LinkTo @route="order.configurator.pick-filling"><muon-cta>Next</muon-cta></LinkTo>