{{page-title "Choose a shape"}}
<form>
  <muon-inputter heading="What shaped cake do you want?" validation="[&quot;isRequired&quot;]" oninput={{action "updateShapeValue"}}>
    {{#each this.model.shapes as |shape index|}}
      {{#if (eq this.model.cake.shape shape)}}
        <input type="radio" name="shape" value={{shape}} id={{(concat "shape-" index)}} checked>
        {{else}}
        <input type="radio" name="shape" value={{shape}} id={{(concat "shape-" index)}}>
      {{/if}}
      <label for={{(concat "shape-" index)}}>{{shape}}</label>
    {{/each}}
  </muon-inputter>

  <LinkTo @route="order.configurator.pick-tier"><muon-cta>Next</muon-cta></LinkTo>
</form>