<muon-inputter heading="Which decorations?" value={{@selectedAddons}} validation="[&quot;isRequired&quot;]" {{on "inputter-change" @updateAddons}}>
  {{#each @addons as |addon index|}}
    <input type="checkbox" name="decorations" value={{addon}} id={{(concat "decorations-" index)}}>
    <label for={{(concat "decorations-" index)}}>{{addon}}</label>
  {{/each}}
</muon-inputter>